@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
   <li class="nav-item">
    <a class="nav-link active" asp-controller="Home" asp-action="Index" aria-current="page">
        <i class="bi bi-house me-1"></i>
        <span>@Localizer["home"]</span>
    </a>
</li>

    <li class="nav-item" id="new-disclosure-nav">
    <a class="nav-link" href="@Url.Action("Create", "Disclosure")">
        <i class="bi bi-plus-circle me-1"></i>
        <span>@Localizer["new_disclosure"]</span>
    </a>
</li>
  <li class="nav-item" id="dashboard-nav">
    <a class="nav-link" asp-controller="Dashboard" asp-action="DashboardSummary">
        <i class="bi bi-speedometer2 me-1"></i>
        <span>@Localizer["dashboard"]</span>
    </a>
</li>

<li class="nav-item" id="admin-panel-nav">
    <a class="nav-link" asp-controller="Admin" asp-action="AdminPanal">
        <i class="bi bi-people me-1"></i>
        <span>@Localizer["admin_panel"]</span>
    </a>
</li>
    
</ul>